.about {
  width: 752px;
  max-width: 1480px;
  margin: 0 auto;
  font-family: Jura;

  @media (max-width: 890px) {
    width: 100%;
    padding: 0 50px 0 50px;
  }

  @media (max-width: 575px) {
    width: calc(100vw - 30px);
  }

  @media (max-width: 425px) {
    width: 100%;
    padding: 0 18px 0 18px;
  }

  h1 {
    font-family: Jura;
    font-size: 25px;
    font-weight: 400;
    color: #333333;
    line-height: 1.2em;
    margin-bottom: 16px;

    @media (max-width: 390px) {
      font-size: 20px;
    }
  }

  p {
    font-family: Jura;
    font-size: 17px;
    color: #333333;
    line-height: 2em;
    margin-bottom: 10px;

    @media (max-width: 390px) {
      font-size: 14px;
    }
  }

  .about ol,
  li {
    margin-left: 20px;
    list-style-type: decimal !important;
  }
}
