.contacts-page__container {
  width: 752px;
  max-width: 1480px;
  margin: 0 auto;
  font-family: Jura;

  a {
    color: rgb(143, 145, 209);
    text-decoration: underline;
  }

  h1 {
    font-family: Jura;
    font-size: 25px;
    font-weight: 400;
    color: #333333;
    line-height: 1.2em;
    margin-bottom: 16px;
  }

  p {
    font-family: Jura;
    font-size: 16px;
    color: #333333;
    line-height: 2em;
  }

  h3 {
    font-family: Jura;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
  }

  td {
    font-family: Jura;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.5em;
    width: 140px;
  }

  .contacts-page__contacts {
    margin-bottom: 20px;
    // border: 1px solid black;
  }

  .contacts-page__timetable {
    margin: 0px 0 20px 0;
    max-width: 100%;
    // border: 1px solid black;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid rgba(206, 206, 206, 0.541);
      margin: 40px 0 40px 0;
    }
  }

  .contacts-page__table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0 0px 0px;
    padding-bottom: 40px;
    // background-color: aliceblue;

    .contacts-page__table-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;

      textarea {
        border: 1px solid #3333;
      }

      input {
        border: 1px solid #3333;
        padding: 6px 12px;
      }

      .sendform {
        padding: 6px 8px;
        font-family: Jura;
        font-size: 16px;
        color: #000000;
        line-height: 1.12em;
        background-color: #efefef;
        transition: all 0.3s ease-in;
        cursor: pointer;

        &:hover {
          background-color: #c7c7c7;
        }
      }
    }
  }
}
