.person {
  &__container {
    width: calc(100vw - 100px);
    max-width: 1480px;
    margin: 50px auto 0 auto;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin-bottom: 40px;
    font-family: Jura;
    font-size: 14px;
    color: #333333;

    label {
      margin-bottom: 6px;

      &::after {
        content: '*';
        margin-left: 2px;
        color: rgb(206, 89, 89);
      }
    }

    input {
      padding: 10px;
      border: 1px solid #333333;
      margin-bottom: 6px;

      &:focus {
        outline: 3px solid #d3d3d390;
      }
      &[type='text'] {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
      }
    }
  }
}

.person-title {
  font-family: Jura;
  font-size: 22px;
  color: #333333;
  line-height: 1.18em;
}

.auth-buttons {
  display: flex;
  align-items: center;
  font-family: Jura;
  font-size: 14px;
  color: #ffffff;
  line-height: 1em;
}

.auth-btn {
  color: #ffffff;
  padding: 10px 16px;
  background-color: #333333;
  margin: 20px 14px 0px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #535354;
  }
}

.auth-link {
  box-sizing: border-box;
  position: relative;
  color: #333333;
  padding: 0px 0px;
  border: none;
  background-color: #ffffff;
  margin: 20px 14px 0px 0px;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    color: inherit;
    border-bottom: 1px dotted;
  }
}
