.product {
  font-family: Jura;
  margin-bottom: 60px;

  &__container {
    max-width: 1480px;
    width: calc(100vw - 100px);
    margin: 0 auto;
  }

  &__main {
    display: flex;
    margin-bottom: 40px;
  }

  &__photo img {
    max-width: 500px;
  }
}

.description {
  &__title {
    font-size: 19px;
    font-weight: 700;
    color: #333333;
    line-height: 1.47em;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.5em;
  }
}
