.alert {
  position: fixed;
  top: 18%;
  right: 10%;
  width: 242px;
  height: 32px;
  background-color: #d4edda;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  border-radius: 2px;

  span {
    font-family: Jura;
    line-height: 1.5rem;
    color: #333333;
  }
}
