.alerts-modal {
  position: fixed;
  z-index: 9999999;
  top: 100px;
  right: 30px;
  width: 250px;
  // background-color: #33333310;
}

.alert {
  width: 246px;
  height: 32px;
  background-color: #d4edda;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #33333330;
  animation-name: alert;
  animation-duration: 1s;
  margin-bottom: 16px;

  span {
    display: block;
    font-family: Jura;
    line-height: 1.5rem;
    color: #333333;
  }
}

@keyframes alert {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
