.header {
  max-width: 100%;
  margin-bottom: 14px;

  .header__container {
    // outline: 1px solid black;
    max-width: 1480px;
    width: calc(100vw - 100px);
    margin: 0px auto;
  }

  .header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Jura;
    font-size: 16px;
    color: #333333;
    line-height: 1.5em;

    &-left {
      display: flex;
      align-items: center;

      .header__menu-item {
        &:nth-child(3) {
          margin-right: 0px;
        }
      }

      .icon {
        width: 18px;
        height: 18px;
      }
    }

    &-right {
      display: flex;
      align-items: center;

      .header__menu-item {
        &:nth-child(2) {
          margin-right: 0px;
        }
      }
    }

    .header__menu-item {
      display: flex;
      position: relative;
      margin-right: 12px;
      color: inherit;

      &-text {
        display: flex;
        align-self: center;
        color: inherit;
        transition: color 0.2s ease-in;

        &:visited {
          color: inherit;
        }

        &:hover {
          color: rgb(143, 145, 209);
        }
      }
    }
  }

  .header__bottom {
    display: flex;
    justify-content: space-between;

    &-logo {
      width: 110px;
    }

    &-logo-text {
      font-family: Jura, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      font-size: 20px;
      font-weight: 700;
      color: #333333;
      text-shadow: 1px 1px 2px #3333;
      cursor: pointer;
      transition: color 0.5s ease-in;

      &:hover {
        color: rgb(143, 145, 209);
      }
    }

    &-search {
      display: flex;
      width: 40%;
      align-items: center;
      position: relative;

      &-input {
        position: relative;
        background-color: #e7e7e7;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
      }

      &-icon {
        position: absolute;
        width: 28px;
        height: 28px;
        right: 0;
        color: #3333339a;
        cursor: pointer;
        transition: all 0.4s ease-in;

        &:hover {
          color: rgb(143, 145, 209);
          scale: (1.08);
        }
      }
    }

    &-icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 6px;
  transition: all 0.4s ease-in;
  cursor: pointer;

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    color: rgb(143, 145, 209);
    scale: (1.08);
  }
}

.header__menu-item-text--delivery {
  &:hover {
    color: inherit;
  }
}
