.login-error {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #f2dede;
  font-family: Jura;
  font-size: 14px;
  color: #a94442;
  line-height: 1.21em;
  // animation: fade-in 500ms forwards;
}

.option-enter {
  opacity: 0;
}

.option-enter.option-enter-active {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.option-exit {
  opacity: 1;
}

.option-exit.option-exit-active {
  opacity: 0;
  transition: opacity 0.4s linear;
}
