.main {
  width: 100%;
  margin-bottom: 100px;
  // flex: 1 1 auto;
  // height: 100vw;
  // background-color: aliceblue;
}

.main__container {
  width: calc(100vw - 100px);
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
}

.main__sneakers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
