.main {
  width: 100%;
  margin-bottom: 60px;
}

.main__container {
  width: calc(100vw - 100px);
  max-width: 1480px;
  margin: 0 auto;
  outline: 1px solid black;
}

.main__sneakers {
  display: flex;
  flex-wrap: wrap;
}
