.sneaker {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: aliceblue;
  margin-right: 20px;
  // border: 1px solid green;

  &:nth-of-type(5n + 5) {
    margin-right: 0px;
  }
}
