.submenu {
  // outline: 1px solid black;
  position: absolute;
  left: 3%;
  top: 100%;
  z-index: 100;
  margin: 0;
  min-width: 150px;
  max-width: 300px;
  // display: none;

  .submenu__content {
    background-color: #ffffff;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 10%);
    position: relative;
    padding: 20px;
  }

  .submenu__content-item {
    font-family: Jura, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 18px;
    color: #333333;
    line-height: 1.8em;
    cursor: pointer;
    transition: color 0.2s ease-in;

    &:hover {
      color: rgb(143, 145, 209);
    }
  }
}
